<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrJXbM1RtyN1qenRe6Y9R2cyiGebtHxCM</string>
	<key>GCM_SENDER_ID</key>
	<string>806325345760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raheeb.app</string>
	<key>PROJECT_ID</key>
	<string>doulas-41702</string>
	<key>STORAGE_BUCKET</key>
	<string>doulas-41702.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806325345760:ios:aafe14cb10f0424cbe5f85</string>
</dict>
</plist>